body {
  color: white;
}

.header-section {
  background-color: black;
}
.title-section {
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title-section > p {
  width: 20em;
  text-align: center;
}
main {
  background-color: black;
}
.card {
  background-color: black;
  border: 1px solid black;
  padding: 10px;
  box-shadow: 5px 5px #888888;
}
.middle-section {
  display: flex;
  flex-direction: row;
}
.right-middle-section {
  display: flex;
  flex-direction: column;
}
.selected {
  margin-bottom: 18em;
}
.player-btn {
  background-color: #015196;
  padding-inline: 30px;
  border-radius: 8px;
}
.card-body {
  text-align: center;
}
